<article class="post-content">
    {{{content}}}
    <div class="share-buttons">
        <div class="share-message">Share the love!</div>
        <ul class="share-buttons-list">
            <li><a rel="nofollow noreferrer noopener" target="_blank" href="https://www.facebook.com/share.php?u=https://unitycook.com/{{slug}}" class="sbtn-facebook"><i class="fab fa-facebook"></i></a></li>
            <li><a rel="nofollow noreferrer noopener" target="_blank" href="https://twitter.com/intent/tweet?url=https://unitycook.com/{{slug}}&text={{tweetTitle}}&via=unitycook" class="sbtn-twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a rel="nofollow noreferrer noopener" target="_blank" href="https://www.linkedin.com/cws/share?url=https://unitycook.com/{{slug}}" class="sbtn-linkedin"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
</article>
{{> comments}}
