<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126318055-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-126318055-1');
	</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="UnityCook">
	{{#if noindex}}
		<meta name="robots" content="noindex nofollow">
	{{/if}}

	<title>{{title}}</title>
	<meta name="description" content="{{description}}"/>
	<link rel="canonical" href="https://unitycook.com/{{slug}}" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{title}}" />
	<meta property="og:description" content="{{description}}" />
	<meta property="og:url" content="https://unitycook.com/{{slug}}" />
	<meta property="og:site_name" content="UnityCook" />
	<meta property="article:publisher" content="https://www.facebook.com/UnityCook" />
	<meta property="article:section" content="Uncategorized" />
	<meta property="article:published_time" content="{{time}}" />
	<meta property="article:modified_time" content="{{time}}" />
	<meta property="og:updated_time" content="{{time}}" />
	<meta property="og:image" content="https://unitycook.com/{{src}}" />
	<meta property="og:image:secure_url" content="https://unitycook.com/{{src}}" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:image:alt" content="{{description}}" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:description" content="{{description}}" />
	<meta name="twitter:title" content="{{title}}" />
	<meta name="twitter:site" content="@UnityCook" />
	<meta name="twitter:image" content="https://unitycook.com/{{src}}" />
	<meta name="twitter:creator" content="@UnityCook" />

	<link rel="shortcut icon" href="/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css">
	<script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
</head>
<body>
{{> navbar}}
<main id="main" class="site-main" role="main">
	<div id="overlay" class="overlay cancel-modal"></div>
	{{{body}}}
</main>
</body>
<script src="/front.js"></script>
</html>